:root {
    --mormor-blue: #17299A;
    --mormor-light: #FFFBF2;
}

* {
    font-family: Barlow;
    text-underline-offset: 6px;
}

section {
    margin-bottom: 30px;
}

body {
    background: var(--mormor-light);
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    padding-left: 60px;
    padding-right: 60px;
    background: var(--mormor-light);
}

.meny:hover {
    cursor: pointer;
}

.mormor-forside-wrapper {
    display: flex;
    flex-direction: column;
}

.mormor-top-banner-image {
    width: 100%;
}

.mormor-top-banner-logo {
    position: absolute;
    top: 15vh;
    left: 60px;
    height: 35%;
}



button {
    color: var(--mormor-blue);
    font-size: 28px;
    font-weight: 700;
    border-radius: 600px;
    border: 3px solid var(--mormor-blue);
    padding: 10px;
    min-width: 200px;
    margin-top: 30px;
    background: transparent;
    transition: 0.2s;
    cursor: pointer;
}

button:hover {
    color: white;
    background: var(--mormor-blue);
    transition: 0.2s;
}

.mormor-cta-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
}

.mormor-cta {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.mormor-cta-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mormor-cta-ikon {
    height: 150px;
}

.img-xl {
    height: 215px;
}

.mormor-forside-text {
color: var(--mormor-blue);
text-align: center;
font-family: Barlow;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.56px;
max-width: 750px;
}

.mormor-apningstider {
    margin-top: 30px;
}

.mormor-apningstider-header {
    color: var(--mormor-blue);
text-align: center;
font-family: Barlow;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.6px;
margin-bottom: 10px;
}

.mormor-apningstider-tekst {
    color: var(--mormor-blue);
text-align: center;
font-family: Barlow;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.48px;
text-transform: lowercase;
}

.mormor-galleri {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.mormor-galleri {
    margin-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
}

.mormor-galleri-bilde {
    width: 100%;
}

.side-menu {
    position: fixed;
    top: 0;
    right: -400px;
    width: 350px;
    height: 100%;
    background-color: var(--mormor-blue);
    color: #fff;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 150px;
    box-shadow: -20px 0px 50px -12px rgba(0, 0, 0, 0.25);
    visibility: hidden; /* Set initial visibility to hidden */
}


.side-menu-header {
    background-color: var(--mormor-blue);
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
}

.side-menu-logo {
    width: 150px;
    height: 150px;
}

.close-menu {
    width: 30px;
    height: 30px;
    cursor: pointer;
    rotate: 180deg;
    transition: 0.2s;
}

.close-menu:hover {
    opacity: 0.7;
    transition: 0.2s;
}

.side-menu-list {
    list-style: none;
    padding: 0;
    margin: 40px 0;
}

.side-menu-list li {
    margin: 10px 0;
}

.side-menu-list a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    display: block;
    padding: 10px 20px;
    border-radius: 600px;
    transition: background-color 0.3s;
    text-align: center;
    outline: 2px solid transparent;
}

.side-menu-list a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    gap: 10px;
    padding-top: 40px;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1200px) {
  .mormor-galleri {
    flex-wrap: wrap;
    padding-left: 0px;
    padding-right: 0px;
}

.mormor-galleri-bilde {
    width: calc(50% - 60px);
    }
}

@media only screen and (max-width: 1024px) {
    header {
        padding-left: 90px;
        padding-right: 90px;
    }
  .mormor-top-banner-logo {
    top: 25px;
    left: 40%;
    height: 160px;
  }
  button {
    font-size: 20px;
    min-width: 150px;
  }
  .mormor-forside-text {
    font-size: 20px;
    max-width: 400px;
  }
  .mormor-apningstider-header {
    font-size: 20px;
  }
  .mormor-apningstider-tekst {
    font-size: 16px;
  }

  .mormor-cta {
    gap: 50px;
        justify-content: space-around;
  }
  .mormor-cta-ikon {
    height: 100px;
}
.img-xl {
    height: 150px;
 }
}

@media only screen and (max-width: 767px) {
    .utleie, .catering {
        display: none!important;
    }
    .side-menu {
        width: 100%;
    }
}

.mormor-logo-plain {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: -30px;
    padding-bottom: 60px;
}

.mormor-sitat-ikon {
    background: var(--mormor-light);
    margin-bottom: -35px;
    z-index: 2;
    outline: 20px solid var(--mormor-light);
}

.mormor-sitat-tekst {
    color: var(--mormor-blue);
    font-family: Barlow;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.4px;
    padding: 50px 30px 50px 30px;
    outline: 2px solid var(--mormor-blue);
    width: 600px;
    text-align: center;
    border-radius: 10px;
}

.mormor-sitat-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.mormor-meny-wrapper {
    display: flex;
    padding-left: 180px;
    padding-right: 180px;
    justify-content: space-between;
    gap: 250px;
}

.mormor-meny-heading {
    color: var(--mormor-blue);
    font-family: Barlow;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.48px;
    padding-top: 60px;
}

.mormor-pris-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mormor-meny-subtitle {
    color: var(--mormor-blue);
    font-family: Barlow;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.4px;
    text-transform: lowercase;
}

.mormor-meny-pris, .mormor-meny-mat-enkel-pris {
    color: var(--mormor-blue);
    text-align: right;
    font-family: Barlow;
    font-size: 16px!important;
    font-style: normal;
    font-weight: 700!important;
    line-height: normal;
    letter-spacing: -0.32px;
}

.mormor-meny-left, .mormor-meny-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.mormor-meny-mat {
    color: var(--mormor-blue);
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.36px;
    padding-bottom: 10px;
    border-bottom: 2px dotted var(--mormor-blue);
}


.mormor-meny-desc {
    color: var(--mormor-blue);
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
    text-transform: lowercase;
}

.mormor-meny-allergener {
    color: var(--mormor-blue);
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.32px;
    text-transform: lowercase;
}

.mormor-meny-item-underline {
    color: var(--mormor-blue);
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.36px;
    padding-bottom: 5px;
    border-bottom: 2px dotted var(--mormor-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
.mormor-meny-wrapper {
    display: flex;
    padding-left: 90px;
    padding-right: 90px;
    justify-content: space-between;
    gap: unset;
}
.mormor-meny-heading {
        padding-top: 30px;
    }
.mormor-sitat-wrapper {
    padding-bottom: 20px;
}
.mormor-logo-plain img {
    height: 200px;
    }
.mormor-sitat-tekst {
padding: 50px 50px 50px 50px;
width: 700px;
}
.mormor-sitat-ikon {
    margin-bottom: -20px;
    outline: 20px solid var(--mormor-light);
}
.mormor-sitat-ikon img {
    height: 70px;
}

.mormor-meny-left, .mormor-meny-right {
    width: 47%;
    gap: 20px;
    }
.mormor-meny-mat, .mormor-meny-desc, .mormor-meny-allergener, .mormor-meny-item-underline {
    font-size: 16px;
}
}

@media only screen and (max-width: 767px) {
.mormor-meny-wrapper {
    flex-direction: column;
}
.mormor-meny-left, .mormor-meny-right {
    width: 100%;
    }
.mormor-sitat-tekst {
    width: 60vw;
 }

.mormor-forside-text {
    display: none;
}
.mormor-galleri {
    display: none;
}
.mormor-cta-apningstider-wrapper {
    display: flex;
    flex-direction: column-reverse;
}
.mormor-apningstider-header {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.48px;
        text-align: left;
}
.mormor-apningstider-tekst {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}
.mormor-apningstider {
    padding-left: 90px;
    padding-right: 90px;
}

.img-xl {
    height: 250px;
    margin-top: -80px;
    padding-bottom: 20px;
}
        }

.mormors-blue {
    background: var(--mormor-blue);
    color: var(--mormor-light);
}

.mormors-filosofi {
    display: flex;
    flex-direction: row;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 120px;
    padding-bottom: 120px;
    gap: 180px;
    align-items: center;
    justify-content: center;
}

.mormors-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mormors-filosofi-heading {
    color: var(--mormor-light);
font-family: Barlow;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.6px;
}

.mormors-filosofi-content {
    color: var(--mormor-light);
font-family: Barlow;
font-size: 28px;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: -0.56px;
text-transform: capitalize;
}

.mormors-text-wrapper, .mormors-image-wrapper {
    width: 35%;
}

.mormors-image-wrapper {
    width: 50%;
}

.mormor-filosofi-image {
    width: 100%;
}