:root {
    --mormor-blue: #17299A;
    --mormor-light: #FFFBF2;
}

* {
    font-family: Barlow;
}

section {
    margin-bottom: 30px;
}

body {
    background: var(--mormor-light);
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    padding-left: 60px;
    padding-right: 60px;
}

.mormor-forside-wrapper {
    display: flex;
    flex-direction: column;
}

.mormor-top-banner-image {
    width: 100%;
}

.mormor-top-banner-logo {
    position: absolute;
    top: 200px;
    left: 60px;
}

button {
    color: var(--mormor-blue);
    font-size: 28px;
    font-weight: 700;
    border-radius: 600px;
    border: 2px solid var(--mormor-blue);
    padding: 10px;
    width: 200px;
    margin-top: 30px;
    background: transparent;
    transition: 0.2s;
    cursor: pointer;
}

button:hover {
    color: white;
    background: var(--mormor-blue);
    transition: 0.2s;
}

.mormor-cta-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.mormor-cta {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    align-items: flex-end;
}

.mormor-cta-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mormor-cta-ikon {
    height: 150px;
}

.img-xl {
    height: 215px;
}

.mormor-forside-text {
color: var(--mormor-blue);
text-align: center;
font-family: Barlow;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.56px;
width: 750px;
}

.mormor-apningstider {
    margin-top: 30px;
}

.mormor-apningstider-header {
    color: var(--mormor-blue);
text-align: center;
font-family: Barlow;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.6px;
margin-bottom: 10px;
}

.mormor-apningstider-tekst {
    color: var(--mormor-blue);
text-align: center;
font-family: Barlow;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.48px;
text-transform: lowercase;
}

.mormor-galleri {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.mormor-galleri {
    margin-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
}

.mormor-galleri-bilde {
    width: 100%;
}