:root {
    --mormor-blue: #17299A;
    --mormor-light: #FFFBF2;
    --profil-font: 'Rethink Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=block');

* {
    font-family: 'Rethink Sans', sans-serif;
    text-underline-offset: 6px;
}

html {
    overflow-x: hidden;
}

section {
    margin-bottom: 15px;
}

body {
    background: var(--mormor-light);
    margin: 0;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    padding-left: 60px;
    padding-right: 60px;
    background: var(--mormor-light);
    align-items: center;
}

.meny:hover {
    cursor: pointer;
}

.mormor-forside-wrapper {
    display: flex;
    flex-direction: column;
}

.mormor-top-banner-image {
    width: 100%;
}

@media only screen and (max-width: 1024px) {
.mormor-top-banner-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
}

.mormor-top-banner-logo {
    position: absolute;
    top: 20%;
    left: 5%;
    height: 40%;
}



button {
    color: var(--mormor-blue);
    font-size: 28px;
    font-weight: 700;
    border-radius: 600px;
    border: 3px solid var(--mormor-blue);
    padding: 10px;
    min-width: 200px;
    margin-top: 30px;
    background: transparent;
    transition: 0.2s;
    cursor: pointer;
}

button:hover {
    color: white;
    background: var(--mormor-blue);
    transition: 0.2s;
}

.mormor-cta-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
}

.mormor-cta {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.mormor-cta-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mormor-cta-ikon {
    height: 160px;
}

.img-xl {
    height: 240px;
}

.mormor-forside-text {
color: var(--mormor-blue);
text-align: center;
font-family: var(--profil-font);
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0px;
max-width: 750px;
}

.mormor-apningstider {
    margin-top: 0px!important;
}

.mormor-apningstider-header {
    color: var(--mormor-blue);
text-align: center;
font-family: var(--profil-font);
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0px;
margin-bottom: 10px;
}

.mormor-apningstider-tekst {
    color: var(--mormor-blue);
text-align: center;
font-family: var(--profil-font);
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0px;
text-transform: lowercase;
}

.mormor-galleri {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
}


.mormor-galleri-bilde {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.side-menu {
    position: fixed;
    top: 0;
    /* right: -400px; */
    width: 350px;
    height: 100%;
    background-color: var(--mormor-blue);
    color: #fff;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    box-shadow: -20px 0px 50px -12px rgba(0, 0, 0, 0.25);
    visibility: hidden; /* Set initial visibility to hidden */
}


.side-menu-header {
    background-color: var(--mormor-blue);
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 80%;
}

.side-menu-logo {
    width: 150px;
    height: 150px;
}

.close-menu {
    width: 30px;
    height: 30px;
    cursor: pointer;
    rotate: 180deg;
    transition: 0.2s;
}

.close-menu:hover {
    opacity: 0.7;
    transition: 0.2s;
}

.side-menu-list {
    list-style: none;
    padding: 0;
    margin: 40px 0;
}

.side-menu-list li {
    margin: 10px 0;
}

.side-menu-list a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    display: block;
    padding: 10px 20px;
    border-radius: 600px;
    transition: background-color 0.3s;
    text-align: center;
    outline: 2px solid transparent;
}

.side-menu-list a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    gap: 10px;
    padding-top: 0px;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1024px) {
    .mormor-galleri {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 30px;
        padding-right: 30px;
    }
        .footer-wrapper {
        grid-template-columns: repeat(1, 1fr)!important;
        padding: 50px 10px 50px 10px!important;
    }
}

@media only screen and (max-width: 1300px) {
  .mormor-top-banner-logo {
    top: 15%;
    left: 5%;
    height: 28%;
  }
}

@media only screen and (max-width: 1024px) {
    header {
        padding-left: 30px;
        padding-right: 30px;
    }
  .mormor-top-banner-logo {
top: 5%;
    left: 50%;
    transform: translate(-50%, -15%);
    height: 120px;
    overflow: hidden;
  }
  button {
    font-size: 20px;
    min-width: 150px;
  }
  .mormor-forside-text {
    font-size: 20px;
    max-width: 400px;
  }
  .mormor-apningstider-header {
    font-size: 20px;
  }
  .mormor-apningstider-tekst {
    font-size: 16px;
  }

  .mormor-cta {
    gap: 50px;
        justify-content: space-around;
  }
  .mormor-cta-ikon {
    height: 100px;
}
.img-xl {
    height: 150px;
 }
}

@media only screen and (max-width: 767px) {
    .utleie, .catering {
        display: none!important;
    }
    .side-menu {
        width: 100%;
    }
}

.mormor-logo-plain {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: -30px;
    padding-bottom: 60px;
}

.mormor-sitat-ikon {
    background: var(--mormor-light);
    margin-bottom: -35px;
    z-index: 2;
    outline: 20px solid var(--mormor-light);
}

.mormor-sitat-tekst {
    color: var(--mormor-blue);
    font-family: var(--profil-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
letter-spacing: 0px;
    padding: 50px 30px 50px 30px;
    outline: 2px solid var(--mormor-blue);
    width: 600px;
    text-align: center;
    border-radius: 10px;
}

.mormor-sitat-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.mormor-meny-wrapper {
    display: flex;
    padding-left: 180px;
    padding-right: 180px;
    justify-content: space-between;
    gap: 250px;
}

.mormor-meny-heading {
    color: var(--mormor-blue);
    font-family: var(--profil-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
letter-spacing: 0px;
    padding-top: 60px;
}

.mormor-pris-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mormor-meny-subtitle {
    color: var(--mormor-blue);
    font-family: var(--profil-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
 letter-spacing: 0px;
    text-transform: lowercase;
}

.mormor-meny-pris, .mormor-meny-mat-enkel-pris {
    color: var(--mormor-blue);
    text-align: right;
    font-family: var(--profil-font);
    font-size: 16px!important;
    font-style: normal;
    font-weight: 700!important;
    line-height: normal;
    letter-spacing: 0px;
}

.mormor-meny-left, .mormor-meny-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.mormor-meny-mat {
    color: var(--mormor-blue);
    font-family: var(--profil-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0px;
    padding-bottom: 5px;
    border-bottom: 2px dotted var(--mormor-blue);
}


.mormor-meny-desc {
    color: var(--mormor-blue);
    font-family: var(--profil-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0px;
}

.mormor-meny-allergener {
    color: var(--mormor-blue);
    font-family: var(--profil-font);
    font-size: 14px!important;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0px;
    text-transform: lowercase;
}

.mormor-meny-item-underline {
    color: var(--mormor-blue);
    font-family: var(--profil-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0px;
    padding-bottom: 5px;
    border-bottom: 2px dotted var(--mormor-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
.mormor-meny-wrapper {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
    gap: unset;
}
.mormor-meny-heading {
        padding-top: 30px;
    }
.mormor-sitat-wrapper {
    padding-bottom: 20px;
}
.mormor-logo-plain img {
    height: 150px;
    }
.mormor-sitat-tekst {
padding: 10px 50px 10px 50px;
width: 700px;
z-index: 1;
}

.mormor-sitat-tekst p {
z-index: 2;
    }


.mormor-sitat-ikon {
    margin-bottom: -13px;
    outline: 20px solid var(--mormor-light);
}
.mormor-sitat-ikon img {
    height: 70px;
}

.mormor-meny-left, .mormor-meny-right {
    width: 47%;
    gap: 30px;
    }
.mormor-meny-mat, .mormor-meny-desc, .mormor-meny-allergener, .mormor-meny-item-underline {
    font-size: 16px;
}
}

@media only screen and (max-width: 767px) {
.mormor-meny-wrapper {
    flex-direction: column;
}
.mormor-meny-left, .mormor-meny-right {
    width: 100%;
    }
.mormor-sitat-tekst {
    width: 60vw;
 }

.mormor-forside-text {
    display: none;
}
.mormor-galleri {
    display: none;
}
.mormor-cta-apningstider-wrapper {
    display: flex;
    flex-direction: column-reverse;
}
.mormor-apningstider-header {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0px;
        text-align: left;
}
.mormor-apningstider-tekst {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}
.mormor-apningstider {
    padding-left: 30px;
    padding-right: 30px;
}

.img-xl {
    height: 200px;
    margin-top: -80px;
    padding-bottom: 20px;
}
        }

.mormors-blue {
    background: var(--mormor-blue)!important;
    color: var(--mormor-light)!important;
}

.mormors-light {
    background: var(--mormor-light)!important;
    color: var(--mormor-blue)!important;
}

.mormors-filosofi {
    display: flex;
    flex-direction: row;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 120px;
    padding-bottom: 120px;
    gap: 180px;
    align-items: center;
    justify-content: center;
}

.mormors-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mormors-underside-heading {
    color: inherit;
font-family: var(--profil-font);
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.6px;
}

.mormors-underside-content {
    color: inherit;
font-family: var(--profil-font);
font-size: 26px;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: -0.56px;
}

.mormors-text-wrapper, .mormors-image-wrapper {
    width: 35%;
}

.mormors-image-wrapper {
    width: 50%;
}

.mormor-filosofi-image {
    width: 100%;
}

@media only screen and (max-width: 1024px) {
    .mormors-filosofi-content {
        font-size: 15px;
        line-height: 20px;
    }

    .mormors-filosofi {
        padding: 30px
    }

    .mormors-filosofi-heading {
        font-size: 24px;
    }
    .mormors-text-wrapper {
        width: 60%;
    }
        .mormors-text-wrapper {
        width: 40%;
    }
    .mormors-underside-content {
    font-size: 20px;
    }
}

@media only screen and (max-width: 767px) {
.mormor-image-wrapper, .mormor-filosofi-image {
    display: none;
}
.mormors-text-wrapper {
    width: 100%;
}
.mormors-filosofi-content {
        font-size: 16px;
}
    }

img.logo-liten {
    height: 64px;
}



.content-w-50 {
    width: 50%!important;
}

.mormors-underside-cta-text {
color: inherit;
text-align: center;
font-family: var(--profil-font);
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.6px;
}

.mormors-underside-contact-text {
    color: inhert;
text-align: center;
font-family: var(--profil-font);
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.48px;
}

.mormors-underside-contact-text a {
font-weight: 500;
text-decoration: none;
color: var(--mormor-blue);
}

.mormors-underside-contact-text a:hover {
font-weight: 500;
text-decoration: underline;
color: var(--mormor-blue);
}

.mormor-underside-wrapper {
    display: flex;
    flex-direction: column;
}

.mormor-cta-item-underside {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.mormors-contact-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

button.mormor-secondary-button {
    color: var(--mormor-light);
    font-size: 28px;
    font-weight: 700;
    border-radius: 600px;
    border: 3px solid var(--mormor-blue);
    padding: 10px;
    min-width: 200px;
    margin-top: 30px;
    background: var(--mormor-blue);
    transition: 0.2s;
    cursor: pointer;
    letter-spacing: 1px;
}

button.mormor-secondary-button:hover {
    color: var(--mormor-blue);
    background: transparent;
    transition: 0.2s;
}

.mormor-galleri-wrapper {
    display: grid;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    align-items: stretch;
}

.mormor-galleri-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.mormor-galleri-column-01 {
    grid-row: 1;
}

.mormor-galleri-column-02 {
    grid-column: 2;
    gap: 20px;
    display: grid;
    grid-template-rows: auto auto;
}

.mormor-galleri-column-03 {
    grid-column: 3;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr; /* Two columns */
    gap: 20px; /* Gap between items */
}

/* Adjust these styles based on your specific needs */
.mormor-galleri-item-01,
.mormor-galleri-item-02,
.mormor-galleri-item-03 {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image fills its container */
}

.mormor-galleri-item-04 {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image fills its container */
    grid-column: span 2; /* Make image 04 span two rows */
}

.mormor-galleri-item-05,
.mormor-galleri-item-06 {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image fills its container */
}


@media only screen and (max-width: 1024px) {
.mormors-filosofi {
        gap: 60px;
            flex-direction: column;
}
.mormor-galleri-column-flex {
    flex-direction: column;
}
.mormors-light {
    overflow-x: hidden;
}
.mormor-galleri-wrapper {
    padding-left: 0;
    padding-right: 0;
        gap: 10px;
}
}

.footer-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--mormor-blue);
    color: var(--mormor-light);
    padding: 100px 60px 100px 60px;
    margin-top: 30px;
}

.footer-heading {
    color: var(--mormor-light);
    font-family: var(--profil-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.36px;
    margin-bottom: 20px;
}

.footer-meta {
    width: 100%; /* Adjust the width as needed */
    padding: 20px;
}

.footer-content {
    color: var(--mormor-light);
    font-family: var(--profil-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.36px;
}

footer a {
    text-decoration: none!important;
    color: inherit;
}

footer a:hover {
    text-decoration: underline!important;
    color: inherit;
}

    .social-icons-footer {
        display: flex;
        gap: 10px;
    }

@media only screen and (max-width: 1024px) {
    .social-icons-footer {
            justify-content: flex-start;

}
}

.mormor-logo-small {
top: 5%;
    left: 50%;
    transform: translate(-50%, -15%);
    height: 180px;
    position: absolute;
}

@media only screen and (max-width: 1024px) {
    .mormor-logo-small {
            height: 120px;
        }
    }